<div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-fluid">

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img class="img-fluid" [src]="recipe.imagePath">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Recipe</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="addToShoppingList()">To shopping list</button>
              <button ngbDropdownItem>Edit Recipe</button>
              <button ngbDropdownItem>Delete Recipe</button>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>